{% extends 'html/base.html' %}
{% block title %}Books{% endblock %}
{% block content %}
	<div class="card mx-auto col-md-6 mt-4 p-2 shadow-lg container-fluid" style="margin-top:60px">
		<div class="card-body">
			<h3 class="bg-warning text-center text-light p-2 border rounded">Available Books are</h3>
	<div class="dropdown-menu">
      <a class="dropdown-item" href="{% url 'hm' %}">CSE</a>
      <a class="dropdown-item" href="{% url 'cg' %}">ECE</a>
      <a class="dropdown-item" href="{% url 'profile' %}">H&S</a>
      <a class="dropdown-item" href="{% url 'logo' %}">EEE</a>

    </div>
			
		
		</div>
		
	</div>
	
</div>

{% endblock %}