
{% extends 'html/base.html' %}
{% block title %}Home{% endblock %}
{% block content %}
<!-- Background image -->
<div class="bg-image">

<!-- Background image -->
<!-- {% load static %}

<link href="https://cdnjs.cloudflare.com/ajax/libs/lightgallery/1.6.0/css/lightgallery.min.css" rel="stylesheet">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
<script>
    $(document).ready(function() {
        $('#lightgallery').lightGallery();
    });
</script>
<script src="https://cdn.jsdelivr.net/gh/bbbootstrap/libraries@main/lightgallery-all.min.js"></script>
<div class="page-content page-container" id="page-content">
    <div class="padding">
        <div class="row container d-flex justify-content-center">
            <div class="col-lg-12">
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title">light Gallery</h4>
                        <p class="card-text"> Click on any image to open in lightbox gallery </p>
                        <div id="lightgallery" class="row lightGallery">
                         <a href="{% static 'images/libnew.jpg' %}" class="image-tile" data-abc="true">
                          <img src="https://i.imgur.com/EEguU02.jpg" alt="image small">
                        </a>
                           <a href="https://i.imgur.com/Uv2Yqzo.jpg" class="image-tile" data-abc="true">
                            <img src="https://i.imgur.com/Uv2Yqzo.jpg" alt="image small">
                          </a> 
                            <a href="https://i.imgur.com/xbTAITF.jpg" class="image-tile" data-abc="true">
                              <img src="https://i.imgur.com/xbTAITF.jpg" alt="image small">
                            </a> 
                            <a href="https://i.imgur.com/EEguU02.jpg" class="image-tile" data-abc="true"><img src="https://i.imgur.com/EEguU02.jpg">
                            </a> 

                      
  
      <a href="{% static 'images/libnew.jpg' %}" class="image-tile" data-abc="true">
        <img src="{% static 'images/libnew.jpg' %}" alt="image"> </a>
      <a href="{% static 'images/libnew2.jpg' %}" class="image-tile" data-abc="true">
        <img src="{% static 'images/libnew1.jpg' %}" alt="image"></a>
      <a href="{% static 'images/libnew3.jpg' %}" class="image-tile" data-abc="true">
        <img src="{% static 'images/libnew2.jpg' %}" alt="image"></a>
      <a href="{% static 'images/libnew.jpg' %}" class="image-tile" data-abc="true">
        <img src="{% static 'images/libnew3.jpg' %}" alt="image"></a> 
    </div>
</div></div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="card col-md mx-2 mt-2 text-center bg-danger">

</div> -->


</div>


{% endblock %}
