{% extends 'html/base.html' %}
{% block title %}Login{% endblock %}
{% block content %}
<!-- Background image -->
<div class="bg-image">
	<div style="background-image: url(https://cdn-media-1.freecodecamp.org/images/1*tO6yh-odg-YDLazUQ6FWVQ.jpeg);">


<!--Background image -->
<br>				
<div class="container">
    <div class=" col-md-5 mx-auto mt-5 ">
		<h3 class="text-center text-white border rounded p-2 my-2">LOGIN</h3>
	<div class="">
		<form method="POST">
			{% csrf_token %}
			<!--{{ form.as_p}} -->
			<input type="text" name="username" placeholder="User Name" class="form-control">
			<input type="password" name ="password" placeholder="Password" class="form-control my-4">
			<div class="row">
				<div class="col">
					
					<input type="submit" value="LOGIN" class="btn btn-success col-sm">
				</div>
				 	<div class="col">
						<a href="{% url 'rg' %}" class="btn btn-primary col-sm">New User</a>	
					</div>
				</div>
			</form><br>
			<a href="{% url 'reset_password' %}" class="btn btn-danger" >Forget Password ?</a>
		</div>
	</div>
</div></div>
{% endblock %}