{% extends 'html/base.html' %}
{% block title %}Profile{% endblock %}
{% block content %}
<!--<div class="container">
	<div class='col'>
		<div class="card col-md-4 mt-5 mx-8">
			<div class="card-header"><h2>userdetails</h2>
			</div>
			<div class="card-body bg-info">
				<label>user_name:{{request.user.username}}</label>
				<br>
			<label>last_login:{{request.user.last_login}}</label>
		</div>
	</div>
	</div>
</div>-->
<div class="container">
	<div class="row">
		<div class="col-md-4   card mx-5" Height=50%>
			
			<div class="card header bg-primary">
				<h3>info</h3>
			</div>
			<div class="card-body"  style = "height: 200px; ">
				<img src="{{user.improfile.impf.url}} "  style = "height:100px; ">
				<h6>hi {{user.username}}</h6>
				 
			</div>
			<div class="card-footer">
				<div class='row'>
					<div class="col">
						<a href="{% url 'dsh' %} " class="form-control m-2 btn btn-danger text-light">back</a>
					</div>
					<div class="col">
						<a href="{% url 'upf' %} " class="form-control m-2 btn btn-success text-light">update</a>
					</div>
				
				</div>
			</div>
		</div>
		<div class="col-md-4 card">
			<div class="card-header text-center bg-dark"> 
			<h4>User Details</h4>
		</div>
			<div class="card-body bg-light">
				<table class="text-center">
				<tr>
				<th>User name</th>
				<td class="text-center">{{user.username}}</td>
				 </tr>
				 <tr>
				 	<th >Age</th>
				 	<td class="mx-3" >{{user.improfile.age}}</td>
				 </tr>
				</table>
			</div>
		</div>
	</div>
</div>
{% endblock %}