{% extends 'html/base.html' %}
{% block title %}Reset Password Done{% endblock %}
{% block content %}
<div class="container">
	<div class="card col-md-5 mx-auto p-2 shadow-lg empty-2">
		<div class="card-body">
			<h3 class="'bg-dark text-center text-light empty-2 p-2 border rounded"> reset passworrd Done!</h3>
			<div class="card-body" >
				<h3>Your password change link has sent to mail , Please check your Email once in spam or all mails</h3>
			</div>
			<form method="POST">
				{% csrf_token %}
				
				
			</form>
			
		</div>
	</div>
</div>

{% endblock %}