{% extends 'html/base.html' %}
{% block title %}Available_books{% endblock %}
{% block content %}
<div class="container-fluid"style="margin-top:30px">
	<div class="row">
		<div class="card col-md-5 mx-auto">
			<h4 class="p-3 bg-success text-center mt-3 border rounded">Send Request</h4>
			<form method="POST">
				{% csrf_token %}
				<table class="table table-borderless">
				{% for i in t %}
					<tr>
						<td>{{i}}</td>
					</tr>
					{% endfor %}
					<tr>
						<td>
					<input list="browsers" name="browser" class="form-control" placeholder="Enter type of request" id="browser">
					<datalist id="browsers">
   					 <option value="Book_Request">
    				 <option value="Book_Retrun">
    				 	</datalist>
    				 	</td>
    				 	</tr>

				</table>
				<input type="submit" value="Send" class="text-center bg-success form-control my-2" name="">
				
			</form>
		</div>
{% endblock %}