{% extends 'html/base.html' %}
{% block title %} Update Profile{% endblock %}
{% block content %}
<div class="container">
	<div class="card col-md-5 mt-4 shadow-lg">
		<h3 class="bg-light text-danger text-center">
			Update your details
		</h3>
		<div class="card-body">
			<form method="post" enctype="multipart/form-data">
				{% csrf_token %}
				<table class="table table-borderless">
		         {% for k in us %}
		         <tr>
		         	<td>
		         	{{k}}
		         </td>
		         </tr>
		         {% endfor %}
		          {% for l in imp %}
		         <tr>
		         	<td>
		         	{{l}}
		         </td>
		         </tr>
		         {% endfor %}
				</table>
				<input type="submit" vlaue="update" class="btn btn-success my-2 btn btn-block">
			</form>
		</div>
	</div>
</div>

{% endblock %}